<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] VIDEO KROJAČNICA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VKT1.styles.css" asp-append-version="true" />
</head>
<body onload="provjeriJezik()">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <img src="~/lib/slikefirma/logocrni.png" style="height:auto;width:auto;max-height:5vh;max-width:6vw;"/>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><h6 id="strHome">Home</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Photography"><h6 id="strPhotography">Photography</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Film&Video"><h6>Film & Video</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Reels"><h6>Reels</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs"><h6 id="strAbout">About Us</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/PriceList"><h6 id="strPricing">Pricing</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact"><h6 id="strContact">Contact</h6></a>
                        </li>
                        
                    </ul>


                    <li class="nav-item" style="list-style-type: none;">
                            <input type="button" id="promjeniJezikHR" onclick="promjeniJezikHR()" style="background-image:url('https://www.worldometers.info//img/flags/small/tn_hr-flag.gif'); background-size:contain;" />
                        </li>
                    <li class="nav-item" style="list-style-type: none;">
                            <input type="button" id="promjeniJezikEN" onclick="promjeniJezikEN()" style="background-image:url('https://www.worldometers.info//img/flags/small/tn_uk-flag.gif'); background-size: contain;" />
                        </li>
                        
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
<footer id="footer" class="border-top footer text-muted" style="z-index:-1;">
    <div class="container">
        &copy; <script>document.write(new Date().getFullYear());</script> - Video Krojacnica
    </div>
</footer>