@page
@model VKT1.Pages.ONamaModel
@{
}
<h1 id="aboutus">About us</h1>
<br />
<div>
    <img src="lib/slikefirma/moskri.jpg" alt="Moskri" style="width:50%; height:50%;">
    <h5>Mario Šnajder</h5>
    <p id="moskrititule">Snimatelj, Fotograf, Gazda</p>
    <br />
    <p id="aboutus1">
        Mario je nedavno uplovio u bračne vode. Ponosni je otac maloga sina, čije prisustvo znači da
        više nema noćnog editiranja videa. Uživa u ispijanju piva, ne mora biti hladno, i povremenom
        roštiljanju s najbližim prijateljima. Iako je planinarenje njegova strast, rijetko ima vremena za
        to jer je stalno zauzet uređivanjem videa.
    </p>
    <p id="aboutus2">
        Profesionalno, radi kao snimatelj i montažer videa još od 17. godine, a iza sebe ima više od 300 vjenčanja. Glazbeni ukus mu se kreće prema rocku, dok su mu omiljena hrana razne slastice od zdravih namirnica koje supruga priprema, iako za neke od sastojaka nikad nije čuo.
    </p>
    <p id="aboutus3">
        Mario je perfekcionist kada je posao u pitanju; svaki detalj mora biti savršeno postavljen i pomno proučen. U timu je poznat po svojoj neumoljivoj potrazi za savršenstvom u svakoj fotografiji i svakom kadru, što ponekad može ići na živce drugom članu tima. Voli svoj posao jer mu omogućuje da stvara nezaboravne trenutke i uspomene za druge, što mu pruža ogromno zadovoljstvo i ispunjenje. Njegova najveća fobija je loš color grade na videu.
    </p>
    <p id="aboutus4">
        Kad nije zaokupljen poslom, opušta se uz dobru knjigu ili gledanje filmova (čitaj spava na kauču). Kao ljubitelj prirode, često se sa suprugom i sinom upušta u kraće izlete u planine ili šetnje po šumi.
    </p>
</div>

<br />
<img src="lib/slikefirma/branko.PNG" alt="Branko">
<h5>Branko Ivanović</h5>
<p id="brankotitule">Fotograf, Po potrebi drugi snimatelj, Grafički dizajner, Kum</p>
<br />
<p id="aboutus5">
    Branko je sretno oženjen i otac trogodišnjeg dječaka. U slobodno vrijeme najviše uživa u igri sa sinom i provođenju vremena s obitelji.
</p>
<p id="aboutus6">
    Za razliku od Marija, pivo mora biti jako hladno. Voli isprobavati nove recepte, posebno različite vrste mesa, što se i vidi po njegovoj figuri.
</p>
<p id="aboutus7">
    Fotografijom se bavi više od 15 godina, u početku amaterski, a posljednjih godina profesionalno. U timu je zadužen za fotografiranje i editiranje fotografija, često ponavljajući editiranje nakon perfekcionističkih prigovora kuma Marija. Sam sebe smatra humorističnijim dijelom tima, Mario se slaže s tim.
</p>
<p id="aboutus8">
    Svoj posao voli jer mu omogućuje da izrazi svoju kreativnost i uhvati posebne trenutke, prateći trendove iz svijeta industrije. Njegov optimističan i vedar pristup čini ga omiljenim članom tima, uvijek spremnim za smijeh i zabavu.
</p>
