@page
@model VKT1.Pages.Film_VideoModel
@{
}

<h1>Film & Video</h1>

<input id="weddingVideo"
       type="image"
       width="600"
       height="150"
       alt="WeddingVideo"
       src="lib/slikefirma/vjencanjabanner.PNG"
       onclick="naVjencanjaVideo()" />
<p id="weddingvideo1">Wedding Video</p>

<input id="promoVideo"
       type="image"
       width="600"
       height="150"
       alt="PromoVideo"
       src="lib/slikefirma/eventibanner.PNG"
       onclick="naPromoVideo()" />
<p id="promovideo1">Promo Video</p>
