@page
@model VKT1.Pages.PriceListModel
@{
}

<h1 id="prices">Prices 2025./2026.</h1>
<br />

<div>
    <img id="logostranicacijene" src="~/lib/slikefirma/logobijeli.png"/>
    <br />
    <br />
    <br />
    <br />
</div>
<div>
    <a id="c1">Fotografiranje i snimanje na lokacijama po želji</a><br /><br />
    <a id="c2">Sve fotografije u punom formatu na USB mediju</a><br /><br />
    <a id="c3">Dolazak 1 fotografa i 1 snimatelja</a><br /><br />
    <a id="c4">Video u trajanju po Vašoj želji (Max 90 min)</a><br /><br />
    <a id="c5">Video "Best Moments"</a><br /><br />
    <a id="c6">Isporuka materijala na personaliziranom USB-u</a><br /><br />
    <a id="c7">Kadrovi iz zraka dronom</a><br /><br />
    <a id="c8">Foto album 30*30 u kutiji</a><br /><br />
    <a id="c9">Photo session posebno neki drugi dan</a><br /><br />
    <a id="c10">Online galerija dostupna 6 mjeseci</a><br /><br />
    <br />
    <h4>€1850</h4>
</div>
<div>
    <br />
    <button id="enq" onclick="upit()" style="height:5vh;width:40%;font-family: Marcellus; font-size: 1.2rem; font-weight: 400; font-style: normal;">Pošalji Upit</button>
</div>
