@page
@model VKT1.Pages.ReelsModel
@{
}

<h1>Reels</h1>

<div>
    <iframe src="https://www.youtube.com/embed/efBVUKXpj7k"
            onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
            style="display:flex; border:none; height:100vh; width:100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <br />

    <iframe src="https://www.youtube.com/embed/xG1yKQWVtis"
            onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
            style="display:flex; border:none; height:100vh; width:100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>

    <br />

    <iframe src="https://www.youtube.com/embed/idFJUwBtWVQ"
            onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
            style="display:flex; border:none; height:100vh; width:100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</div>