@page
@model VKT1.Pages.WeddingVideoModel
@{
}

<h1 id="weddingvideo1">Wedding video gallery</h1>

<body>

    <div >
        <iframe src="https://www.youtube.com/embed/-lU1Bz9SWNY"
                onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' 
                style="display:flex; border:none; height:100vh; width:100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
   
        <br />
    
        <iframe src="https://www.youtube.com/embed/aoC8AdW9Ge4"
                onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
                style="display:block; border:none; height:100vh; width:100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <br />

        <iframe src="https://www.youtube.com/embed/xpK_PGnvYzM"
                onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
                style="display:block; border:none; height:100vh; width:100%;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

        <br />

        <iframe src="https://www.youtube.com/embed/sHs4YY74MlI"
                onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'
                style="display:block; border:none; height:100vh; width:100%;
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>

</div>
</body>

